<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Layout com FlexBox</title>
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="style.css">

</head>

<body>


  <div class="container">
    <div class="item">Teste1</div>
    <div class="item">Teste2</div>
    <div class="item">Teste3</div>
    <div class="item"> Teste4</div>
    <div class="item">Teste5</div>
  </div>





</body>

</html>